In [12]:
import pandas as pd

In [19]:
BUCKETNAME = ''
FILENAME = ''

In [20]:
df = pd.read_csv('s3://{}/{}'.format(BUCKETNAME,FILENAME))
df.head()

   col0  col1  col2
0     1  aaaa  5000
1     2  bbbb  6000
2     3  cccc  7000